/*
Dillon Bastan, 2015. 
This is the stylesheet for consistent rules in all pages.
*/

body {
	font-family: arial;
	zoom: 1;
	background-image: url('../images/etc/background.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center; 
}

h1 {
	font-size: 9pt;
	font-weight: 900;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

#contentWrapper {
	margin: 0 5% 0 5%;
	padding: 0 20px 0 20px;
}

section.mainContent {
	margin: 0 auto;
	padding: 60px 0 60px 0;
	max-width: 610px;
	min-width: 305px;
	font-size: 9pt;
}

section.mainContent img {
	margin: 0;
	width: 130px;
	height: 130px;
	border-style: solid;
	border-width: 1px;
}