/*
Dillon Bastan, 2015. 
This is the stylesheet for the main content in the individual artist pages.
*/


#artistPhoto {
	width: 230px;
	height: 230px;
}

figure.artistPhoto {
	margin-right: 10px;
}

#artistLinks {
	margin-top: 20px;
}

#artistLinks a {
	display: block;
}

td {
	vertical-align: top;
}

#artistDescription {
	margin-top: 25px;
}

#projectLinks {
	margin-top: 5px;
}

#projectLinks img {
	margin-top: 20px;
	width: 70px;
	height: 70px;
}

#projectLinks a {
	margin-right: 25px;
}