/*
Dillon Bastan, 2015. 
This is the stylesheet for the main content in the home page.
*/


/*Featured Content*/
td {
	vertical-align: top;
}

div.featuredContent {
	display: inline-block;
	vertical-align: top;
	margin-right: 33px;
}

#lastFeatured {
	margin: 0;
}

section.mainContent figure {
	margin: 0;
	padding: 0;
}

section.mainContent img {
	width: 170px;
	height: 170px;
}

section.mainContent figcaption {
	max-width: 150px;
}
/**/


/*News Content*/
div.newsContent {
	margin-top: 35px;
}
/**/
