/*
Dillon Bastan, 2015. 
This is the stylesheet for the main content in the home page.
*/


/*Announcement Bar*/
#announceWrapper {
	margin: 0 5% 0 5%;
	padding: 0 0px 0 0px;
}

section.announceBar {
	text-align: center;
	margin-top: 60px;
}

div.announceBar {
	white-space: nowrap;
	margin-left: 15px;
}

img.announceBar {
	position: relative;
	z-index: 0;
	width: 980px;
	height: auto;
}

#spotlightElement {
	position: absolute;
	z-index: 1;
	margin-top: 22px;
	margin-left: -774px;
	width: 512px;
	height: 289px;
}
/**/


/*Featured Content*/
td {
	vertical-align: top;
}

div.featuredContent {
	display: inline-block;
	vertical-align: top;
	margin-right: 33px;
}

#lastFeatured {
	margin: 0;
}

section.mainContent figure {
	margin: 0;
	padding: 0;
}

section.mainContent img {
	width: 170px;
	height: 170px;
}

section.mainContent figcaption {
	max-width: 150px;
}
/**/


/*News Content*/
div.newsContent {
	margin-top: 35px;
}
/**/
