/*
Dillon Bastan, 2015. 
This is the stylesheet for the main content in the individual project pages.
*/


/*Slideshow*/
section.slideshow {
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

div.slideshow {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	width: 522px;
	margin: 0 auto;	
}

ul.slideshow {
	position: relative;
	padding: 0;
}

ul.slideshow li {
	float: left;
	list-style-type: none;
	width: 522px;
	height: 352px;
}

span.center {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

ul.slideshow img {
	vertical-align: middle;
	max-width: 520px;
	max-height: 350px;
	width: auto;
	height: auto;
}

ul.slideshow iframe {
	vertical-align: middle;
	width: 480px;
	height: 310px;
	border-style: solid;
	border-width: 1px;
}

span.move {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 175px;
	cursor: pointer;
	font-size: 18pt;
}

span.prevImage {
	margin-right: 5px;
}

span.nextImage {
	margin-left: 5px;
}
/**/


/*Project Info*/
section.projectInfo {
	margin: 25px 0 0 45px;
	max-width: 520px;
}

section.projectInfo nav {
	display: inline-block;
}

/**/