/*
Dillon Bastan, 2015. 
This is the stylesheet for the main content in the projects page.
*/

section.mainContent {
	padding-bottom: 30px;
}

section.mainContent tr {
	vertical-align: top;
}

section.mainContent td {
	padding-bottom: 30px;
}

div.projectsDescription {
	margin-left: 25px;
}

div.projectsDescription a {
	margin-left: 20px;
	vertical-align: text-bottom;
	font-size: 0.8em;
}